



@media(min-width: 960px){
    .row subject{
        display: flex;
    }

    .city{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .intro{
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .shibuya{
        width: 800px;
        height: 400px;
    }

    
}

.intro {
    background-image: url('tabMount.jpg');
    text-align: center;
    height: fit-content;
    background-size: cover;
    padding: 1em;
    font-size: xx-large;
    color: white;
    margin: 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


h2{
    padding-left: 1em;
    color: #424B54;
}

.profile{
    width: 250px;
    height: 330px;
    border-radius: 20%;
    padding: 0.5em;
}

body{
    width: 660px;
}


.city{
    font-style: italic;
    font-family: Arial;
    padding: 1em;
}

.city p{
    border-radius: 10%;
    background: gray;
    padding: 1em;
    color: white;
}

.parent_city{
    height: fit-content;
    font-size: large;
    background-color: #D8E1E9;
    padding: 1em;
    margin: 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    

}


.shibuya{
    width: 500px;
    height: 300px;
    padding: 0.5em;
    border-radius: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}

body{
    min-width: fit-content;
}

.language{
    align-items: center;
    height: fit-content;
    background-color: #D8E1E9;
    margin: 1.5em;
    color: #424B54;
    padding: 1em;
    font-size: large;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.subjects{

    height: fit-content;
    background-color: #D8E1E9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 1.5em;
    padding: 1em;

}

